.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header {
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  font-family: 'VT323';
  font-size: 3rem;
  margin-top: 0;
}

/* Mobile */
@media screen and (min-width: 0px) and (max-width: 767px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    margin: 15px 40px 40px 40px;
  }

  .header {
    font-size: 4rem;
  }
}

/* Laptop, Desktop */
@media screen and (min-width: 1025px) {
  .main {
    margin: 20px 60px 60px 60px;
  }

  .header {
    font-size: 6rem;
  }
}
