.container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}

.error {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

.chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease-in-out 1s;
}

.chart svg {
  flex-grow: 1;
}

.loading-true {
  opacity: 0.5;
}

.lastUpdated {
  color: rgba(255, 255, 255, 0.5);
}

/* Mobile */
@media screen and (min-width: 0px) and (max-width: 767px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    padding: 15px 40px 40px 40px;
  }

  .header {
    font-size: 4rem;
  }

  .lastUpdated {
    margin-top: 20px;
  }
}

/* Laptop, Desktop */
@media screen and (min-width: 1025px) {
  .main {
    padding: 20px 60px 60px 60px;
  }

  .header {
    font-size: 6rem;
  }

  .lastUpdated {
    margin-top: 40px;
  }
}
